@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

    
$ButtonBlue: #2445B2;
$ButtonBlueHover: #233f9c;
$ButtonWhite: white;
$ButtonWhiteHover: rgb(247, 247, 247);

.Button{
   
    border-radius: 7px;
    border: 1px solid; 
    
    font-family: "Inter";
    font-weight: 500;
    font-size: 16px;
    font-optical-sizing: auto;
    font-style: normal;
    color: #E3E6EB;

    &_size_big{     
        max-width: 312px;
        height: 50px;
        width: 100%;
    } 
     &_size_small{
        height: 36px;
        max-width: 117px;

        width: 100%;
    }
    

    &_color_primary{
        background-color: $ButtonBlue;
        color: $ButtonWhite;
        border-color: $ButtonBlue;

        &:hover{
            background-color: $ButtonBlueHover;
            color: $ButtonWhiteHover;
            cursor: pointer;
        };
    }

    &_color_inverted{
        background-color: $ButtonWhite;
        color: $ButtonBlue;
        border-width: 2px;

        &:hover{
            color: $ButtonBlueHover;
            border-color: $ButtonBlueHover;
            cursor: pointer;
        }
    };

}

