.NoContentPlaceholder{
    display: flex;
    flex-direction: row;
    background-color: #101624;
    // max-width: 403px;
    text-align: center;
    border-radius: 12px;
    padding: 26px 91px;
    color: #2D4C91;
    font-family: "Inter";
    font-weight: 500;
    justify-content: center;
    margin: 30px 10px;
}