.Card{
    
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 12px !important;
    cursor: pointer;
    background-color: white;
    &:hover{
        background-color: #e0e0e0 ;
    }

    #title{
        margin: 0;
        padding:0;
        font-size: 18px;
    }
    p{
        margin: 5px 0;
        // padding:0
        font-size: 14px;
        font-weight: 500;
    }
    #date{
        font-size: 16px;
        font-weight: 400;
        // text-decoration: underline;
        
    }
    #description{
        font-size: 16px;
        font-weight: 400;
    }
}

// .TitleDateWrap{
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
//     align-items: start;
//     max-width: 80%;
// }