@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.Heading{
    font-family: "Inter";
    font-weight: 600;
    font-size: 24px;
    font-optical-sizing: auto;
    font-style: normal;
    color: #E3E6EB;
    
    &_align_center{
        margin-left: auto;
        margin-right: auto;
    }
    &_align_left{
        margin-left: 0;
        margin-right: auto;
    }
    &_align_right{
        margin-right: 0;
        margin-left: auto;
    }
    
}