.Search{
    
        background-color: white;
        min-width: 100px;
        height: 62px;
        border-radius: 9px;
    
 
}

.SearchAndAdd{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.AddButton{
    margin-left: 6px;
}