.HeaderSearchBarWrapper{
    position: sticky;
}

.moreButtonBlock{
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.EventsWrap{
    margin-top: 20px;
}

.Events{
    margin: 15px 0px 0;
    font-family: "Inter";
}

.Events-Card{
    margin: 10px 0;
    
}

.Heading{ 
    margin-top: 0; 
}


